<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VpdbAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <VpdbAgent.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthUser" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Endpoint" serializeAs="String">
                <value>https://staging.vpdb.io</value>
            </setting>
            <setting name="PbxFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="WindowMax" serializeAs="String">
                <value>False</value>
            </setting>
        </VpdbAgent.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
