<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="4.1.2" targetFramework="net452" />
  <package id="akavache.core" version="4.1.2" targetFramework="net452" />
  <package id="akavache.sqlite3" version="4.1.2" targetFramework="net452" />
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net452" />
  <package id="HashLib" version="2.0.1" targetFramework="net452" />
  <package id="Humanizer" version="1.37.7" targetFramework="net452" />
  <package id="ini-parser" version="2.2.2" targetFramework="net452" />
  <package id="LoadingIndicators.WPF" version="0.0.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="NLog" version="4.1.2" targetFramework="net452" />
  <package id="NLog.Config" version="4.1.2" targetFramework="net452" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net452" />
  <package id="OpenMcdf" version="2.0.5739.40493" targetFramework="net452" />
  <package id="PusherClient" version="0.3.0" targetFramework="net452" />
  <package id="reactiveui" version="6.5.0" targetFramework="net452" />
  <package id="reactiveui-core" version="6.5.0" targetFramework="net452" />
  <package id="refit" version="2.3.0" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net452" />
  <package id="Splat" version="1.6.2" targetFramework="net452" />
  <package id="SQLitePCL.raw_basic" version="0.7.0" targetFramework="net452" />
  <package id="squirrel.windows" version="1.2.1" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.13.1" targetFramework="net452" />
</packages>